<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutticha.e_learningmobileapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElearningMobileApp">
        <activity
            android:name=".SearchView"
            android:exported="false" />
        <activity
            android:name=".WebView"
            android:exported="false" />
        <activity
            android:name=".GridView"
            android:exported="false" />
        <activity
            android:name=".CustomListview"
            android:exported="false" />
        <activity
            android:name=".ListView"
            android:exported="false" />
        <activity
            android:name=".optionmenu"
            android:exported="false" />
        <activity
            android:name=".Quiz"
            android:exported="false" />
        <activity
            android:name=".Chapter"
            android:exported="false" />
        <activity
            android:name=".OnlineClass"
            android:exported="false" />
        <activity
            android:name=".lismenu"
            android:exported="false" />
        <activity
            android:name=".Chapter11"
            android:exported="false" />
        <activity
            android:name=".Chapter10"
            android:exported="false" />
        <activity
            android:name=".Chapter9"
            android:exported="false" />
        <activity
            android:name=".Chapter8"
            android:exported="false" />
        <activity
            android:name=".Chapter7"
            android:exported="false" />
        <activity
            android:name=".Chapter6"
            android:exported="false" />
        <activity
            android:name=".Chapter5"
            android:exported="false" />
        <activity
            android:name=".Chapter4"
            android:exported="false" />
        <activity
            android:name=".Chapter3"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>